<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cinema Club</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header class="l-header theme-margin">
		<nav class="main-nav navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<i class="fa fa-film"></i> CinemaClub
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/favourites">My movies</a></li>
					</ul>

					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="">
						</div>
						<button type="submit" class="btn btn-default">Find</button>
					</form>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header><!-- /header -->

	<div class="l-container container">
		<section class="main movie-page">
			<h2>Marsian, The <a href="#" title="Add to favourites"><i class="fa fa-heart-o"></i></a></h2>
			<div class="row">
					<div class="col-md-6 col-sm-12 m-images-composite">
						<img src="images/01.jpg">	

						<ul class="l-list-inline l-list-col-3">
							<li><a href="#"><img src="images/02.jpg" alt="02"></a></li>
							<li><a href="#"><img src="images/03.jpg" alt="02"></a></li>
							<li><a href="#"><img src="images/01.jpg" alt="02"></a></li>
						</ul>
					</div>
					
					<div class="col-md-6 col-sm-12">
						<ul class="l-list m-stats-list">
							<li>
								<span class="stat-name">Budget</span>
								<span class="stat-value">$55000000</span>
							</li>
							<li>
								<span class="stat-name">Budget</span>
								<span class="stat-value">$55000000</span>
							</li>
							<li>
								<span class="stat-name">Budget</span>
								<span class="stat-value">$55000000</span>
							</li>
							<li>
								<span class="stat-name">Budget</span>
								<span class="stat-value">$55000000</span>
							</li>
							<li>
								<span class="stat-name">Rating</span>
								<span class="stat-value">6.1 <i class="fa fa-star"></i></span>
							</li>
						</ul>
					</div>
			</div>

			<section class="l-description">
				<h3>Description:</h3>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<p>
							In the aftermath of a family tragedy, an aspiring author is torn between love for her childhood friend and the temptation of a mysterious outsider. Trying to escape the ghosts of her past, she is swept away to a house that breathes, bleeds… and remembers.
						</p>
					</div>
				</div>
			</section> <!-- /l-description -->

			<section class="l-credits">
				<h3>Credits:</h3>
				<div class="row">
					<ul class="l-list m-cards-list">
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
						<li>
							<div class="col-md-2 col-sm-4 image-card">
								<p class="card-title"><a href="#">Mia Vaskovska</a></p>
								<p class="card-subtitle">Some role</p>
								<img src="images/04.jpg" alt="04">
							</div>
						</li>
					</ul>
				</div>	
				<a href="#" class="text-center">Show All</a>
			</section> <!-- /l-credits -->

			<section class="l-video">
				<h3>Video:</h3>
				<div class="row">
					<ul class="l-list m-cards-list">
						<li>
							<div class="image-card col-md-6 com-sm-12">
								<p class="card-title">Trailer</p>
								<iframe style="width: 100%; height: 350px;" frameborder="0"
										src="http://www.youtube.com/embed/<%= key %>?autoplay=0">
								</iframe>
							</div>
						</li>
						<li>
							<div class="image-card col-md-6 com-sm-12">
								<p class="card-title">Trailer</p>
								<iframe style="width: 100%; height: 350px;" frameborder="0"
										src="http://www.youtube.com/embed/<%= key %>?autoplay=0">
								</iframe>
							</div>
						</li>
						<li>
							<div class="image-card col-md-6 com-sm-12">
								<p class="card-title">Trailer</p>
								<iframe style="width: 100%; height: 350px;" frameborder="0"
										src="http://www.youtube.com/embed/<%= key %>?autoplay=0">
								</iframe>
							</div>
						</li>
						<li>
							<div class="image-card col-md-6 com-sm-12">
								<p class="card-title">Trailer</p>
								<iframe style="width: 100%; height: 350px;" frameborder="0"
										src="http://www.youtube.com/embed/<%= key %>?autoplay=0">
								</iframe>
							</div>
						</li>
					</ul>
				</div>
			</section> <!-- /l-video -->
		</section>
	</div>

	<footer class="l-footer text-center">
		<p>Created by Trofimovich Eugene, 2015 | <a href="mailto:eugene.trofimovich@gmail.com?subject=cinema-club-feedback" "Enter something :)">email me</a></p>
		<p>Project uses API from <a href="#">themoviedb.org</a></p>
	</footer> <!-- /footer -->
</body>
</html>
